__pycache__/
*.pyc
*.pyo
*.pyd
build/
.gradle/
local.properties
*.iml
.idea/
.DS_Store
capture/
*.apk
*.aab
/app/build/
.cxx/
*.jks
*.keystore
!debug.keystore
.externalNativeBuild/
.navigation/
assetPack/
bundle/
*~
*.swp
*.bak
